@import url('./_variables.css');
.bg-primary {
    background-color: var(--color-primary);
}
.bg-secondary {
    background-color: var(--color-secondary);

}


.text-white {
    color: var(--color-white);
}

.text-primary {
    color: var(--color-primary);
}


.theme-dark {
    background-color: var(--color-black);
    color: var(--color-white);
}

.theme-primary {
    background-color: var(--color-primary);
    color: var(--color-white);
}

.theme-secondary {
    background-color: var(--color-tertiary);
    color: var(--color-black);
}

