/* 

480px
768px
1024px
*/

header {
    background-color: black;
    color: white;
}

header {
    background-color: yellow;
}

/* if you use min-width go small to large cascade */


/* @media (min-width: 480px) {
    header {
        background-color: #f00;
    }
}
@media (min-width: 768px) {
    header {
        background-color: #0f0;
    }
}
@media (min-width: 1024px) {
    header {
        background-color: #00f;
    }
} */


/* if you use max-width go large to small cascade */
@media (max-width: 480px) {
    header {
        background-color: #f00;
    }
}
@media (max-width: 768px) {
    header {
        background-color: green;
    }
}
@media (max-width: 1024px) {
    header {
        background-color: blue;
    }
}
